:root{
--brand-color: #4D5AE5;
--brand-color: var(--iris, #4D5AE5);
--brand-color:-brand #FFF;
--brand-color:-brand #F4F4FD;
--brand-color:-brand #FFFFFF;
--brand-color: var(--cloud, #F4F4FD);
--brand-color:-brand #2E2F42;
--brand-color:#2e2f42;
--brand-color: var(--slate, #434455);
--brand-color: #404bbf;
--brand-color: #434455;

--brand-background-color: #4D5AE5;
--brand-background-color: #404BBF;
--brand-background-color: #F4F4FD;
--brand-background-color:rgba(244, 244, 253, 1);
--brand-background-color: var(--navyblue, #2E2F42);
}
body{
font-family:'Roboto', sans-serif;
color: var(--slate, #434455);
background-color:#FFFFFF;
line-height:1.5;
letter-spacing:0.02em;
max-width: 1440px;
max-height: 2592px;
min-height: 100vh;
display: flex;
flex-direction: column;
}
button{
border: 0;
}
a{
text-decoration:none;
}
p,h1,h2,h3,h4,h5,h6{
margin-top: 0;
margin-bottom: 0;
padding: 0px;
}
ul,ol{
list-style-type:none;
padding-left: 0;
margin-top: 0;
margin-bottom:  0;
}
/*header*/
.container{
width: 100%;
padding: 0 auto;
margin:0 auto;
 }

.header-link{
width: 100%;
margin: 0 auto;
border-bottom: 1px solid var(--cornflower, #E7E9FC);
background: var(--white, #FFF);

}

.header-menu-item-portfolio{
font-family:'Raleway',sans-serif;
color: var(--iris, #4d5ae5);
font-weight:800;
font-size:18px;
line-height:1.17;
letter-spacing:0.03em;
text-decoration:none;
list-style:none;
}
.header-memu-item:hover{
color: #404bbf;
}
.header-memu-item:focus{
color: #404bbf;
}
.header-menu-item-portfolio{
font-family:'Roboto';
color: #2e2f42 ;
font-weight:500;
line-height:24px;
letter-spacing:0.02em;
}
.header-menu-item-portfolio:hover{
color: #404bbf;
}
.header-menu-item-portfolio:focus{
color: #404bbf;
}
.header-menu-item-studio{
}
.header-menu-item-li{
text-decoration:none;
}
.header-menu-item link{
text-decoration:none;
}
.header-list{
list-style:none;
display: flex;
align-items: center;
/* gap: 76px; */

}
.header-container{
display: flex;
align-items: center;
padding-top: 24px;
padding-bottom: 24px;
}
.header-logo{
font-family:'Raleway',sans-serif;
color: #4d5ae5;
font-weight:800;
font-size:18px;
line-height:1.17;
letter-spacing:0.03em;
text-decoration:none;
text-transform:uppercase;
padding-left: 156px;

}
.header-title-logo{
color:  #2e2f42 ;
margin-right: 76px;
}
.menu-contact{
    padding-right: 332px;
}
.header-menu{
font-family:'Roboto',sans-serif;
text-decoration:none;
color: #2e2f42;
font-weight:500;
font-size:16px;
line-height:1.5;
letter-spacing:0.02em;
display: flex;
gap: 40px;
}
.header-menu:hover{
color: #404bbf;
}
.header-menu:focus{
color: #404bbf;

}
.contact{
font-style:normal;
list-style:none;
margin-left: auto;
}
.header-contact-soc-list{
list-style:none;
font-family:'Roboto',sans-serif;
color: #434455;
font-weight:400;
font-size:16px;
line-height:1.5;
letter-spacing:0.02em;

display: flex;
align-items: center;
gap: 40px;
margin-left: auto;
}
.header-contact-soc-item{
font-size:16px;
line-height:1.5;
letter-spacing:0.02em;
color: #434455;
}
.header-contact-soc-item{
text-decoration:none;
}
.header-contact-soc-link{
font-family:'Roboto',sans-serif;
font-weight: 400;
text-decoration:none;
font-size:16px;
line-height:1.5;
letter-spacing:0.02em;
color: #434455;
}
.link-tel{
padding-right: 156px;
}
.header-contact-soc-link:hover{
color: #404bbf;
}
.header-contact-soc-link:focus{
color: #404bbf;
}
/*header*/


/*button-1-section>all*/
.menu-list{
padding-bottom: 72px;


}
.button-navigation{
line-height:1.07;
letter-spacing:0.02em;
}

.button-container{
display: flex;
align-items: center;
justify-content: center;
}

.navigation{
display: flex;
gap: 24px;
margin-top: 120px;
}

.click-menu-button{
font-family:'Roboto',sans-serif;
font-weight:500;
font-size:16px;
line-height:1.5;
letter-spacing:0.04em;
color: #4d5ae5;
background-color: #F4F4FD;
font-family:inherit;
cursor:pointer;
display: flex;
padding: 12px 24px;
justify-content: center;
align-items: center;
}
.click-menu-button:hover{
font-family:inherit;
color: #FFFFFF;
background-color: #404BBF;
}
.click-menu-button:focus{
color: #FFFFFF;
background-color: #404BBF;
}


/*section-1*/


.title-icon{
background: #2e2f42;
padding-top: 188px ;

padding-bottom: 188px;

box-sizing: border-box;

align-items: center;
/* margin: 0 auto 48px; */
}
.title-container{
/* height: 600px; */
}


.title{
font-weight:700;
font-size:56px;
line-height:1.07;
letter-spacing:0.02em;
color: #ffffff;
text-align:center;
font-style: normal;
 /* max-width: 496px;
max-height: 120px; */
margin-bottom: 48px; 
margin-left: auto;
margin-right: auto;


}

/*bth-title*/
.title-click-bth{
font-family:'Roboto', sans-serif;
background-color: #4d5ae5;
font-family:inherit;
font-weight:500;
font-size:16px;
line-height:1.5;
letter-spacing:0.04em;
color: #ffffff;
border: none;
cursor:pointer;

display: block;
align-items: flex-start;
border: none;
border-radius: 4px;
padding: 16px 32px;
gap: 10px;
min-width: 169px;
height: 56px;
margin-top: 48px;
margin: 0 auto;


}
.title-click-bth:hover{
font-family: "Roboto", sans-serif;
background-color: #404BBF;
font-family:inherit;
font-weight:500;
font-size:16px;
line-height:1.5;
letter-spacing:0.04em;
color: #FFF;
cursor:pointer;
}
.title-click-bth:focus{
background-color: #404BBF;
}
.title-click-bth:active{
background-color: #404BBF;
cursor:pointer;
}
/*bth-title*/


/*section-2*/
.caption-text{
list-style:none;
display: flex;
align-items: center;
gap: 8px;
padding: 24px;
padding-top: 120px;
padding-bottom: 120px;
flex-shrink: 0;
padding-left: 156px;


}
.caption-subject{
font-weight:500;
font-size:20px;
line-height:1.2;
letter-spacing:0.02em;
color: #2e2f42;
list-style:none;


}
.caption-text-sub{
font-weight:400;
font-size:16px;
line-height:1.5;
letter-spacing:0.02em;
color: #434455;
display: flex;
align-items:center;
}

.caption-list{
font-weight:500;
font-size:20px;
line-height:1.2;
letter-spacing:0.02em;
color: #2e2f42;
display: flex;
padding:0 auto;
flex-direction: column;
align-items: center;
}
.caption-div{
padding: 32px;
display: inline;
align-items: center;
}
.heading-img{
font-weight:700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
padding-left: 156px;
padding-right: auto;
padding-top: 120px ;

padding-bottom: 72px;
align-items: center;
}
.heading-list-pic{

}
.heading-caption{
background-color: #FFFFFF;
display: flex;
gap: 24px;
padding-left: 156px;
padding-bottom: 120px;
}
/*section-3*/

/*section-4*/
.our-team-img{
color: var(--navyblue, #2E2F42);
text-align: center;
font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 40px; 
letter-spacing: 0.02px;
text-transform: capitalize;

flex-shrink: 0;
background: var(--cloud, #F4F4FD);
}
.heading-img{
color: var(--navyblue, #2E2F42);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 40px; /* 111.111% */
letter-spacing: 0.72px;
text-transform: capitalize;
}
.our-team-img-text{
color: var(--slate, #434455);
margin-left: 156px;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.32px;
flex-direction: row;
display: inline-flex;
}
.div-our-team-box{
margin-top: 72px;
margin-bottom: 100px;
}
.our-team-text-pic{

}
.our-team-img-style{
max-width:264px;
flex-direction: column;
}
.our-team-div{
display: flex;
width: 264px;
flex-direction: column;
justify-content: center;
align-items: center;
display: inline-flex;
margin: 0 auto;
padding-top: 32px;
padding-bottom: 32px;
border-radius: 0px 0px 4px 4px;
background: var(--white, #FFF);
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.our-team-slogan{
color: var(--navyblue, #2E2F42);
text-align: center;
font-size: 20px;
font-weight: 500;
line-height: 24px; /* 120% */
letter-spacing: 0.4px;
}
.our-team-slogan-text{
color: var(--slate, #434455);
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;

}
/*section-4*index */


/*section-2*portfolio*/
.pic-div{
}
.picture-text-list{
list-style:none;
display: flex;
flex-wrap: wrap;
padding-bottom: 0px;
/* gap: 15px; */
flex-shrink: 0;
padding: 48px 24px;
align-content: center;
justify-content: center;

}
.picture-list-item{
width: calc((100% - 48px * 2) / 3);
gap: 24px;

border-radius: 1px solid var(--cornflower, #E7E9FC);
background: var(--white, #FFF);
}
.picture-div-box{
margin: 24px;
width: 360px;
margin-left: 0 auto;

border: 1px solid var(--cornflower, #E7E9FC);
background: var(--white, #FFF);
margin-bottom: 100px;
}
.picture-heading-text{
font-weight:500;
font-size:20px;
line-height:1.2;
letter-spacing:0.02em;
color: #2e2f42;

}

.picture-text{
font-weight:400;
font-size:16px;
line-height:1.5;
letter-spacing:0.02em;
color: #434455;
}
.pic{
background: lightgray;
text-decoration: none;

}
.div-picture-heading{
padding: 32px 16px;
gap: 8px;
}
/*section-4*/

/*footer*/
.footer{
background-color: #2E2F42;
padding-top: 100px;
padding-bottom: 100px;
}
.foter-container{
margin-left: 156px;
}
.footer-logo{
margin-bottom: 16px;
color: var(--iris, #4d5ae5);
font-family:'Raleway',sans-serif;
line-height:1.17;
font-size:18px;   
font-weight:800;
letter-spacing:0.03em;
text-transform: uppercase;
}
.link-studio{
color: var(--cloud, #f4f4fd);
font-family:'Raleway',sans-serif;
font-size:18px;
font-weight:800;
line-height:1.17; /* 116.667% */
letter-spacing:0.03em;
text-transform:uppercase;
}
.footer-text{
color: var(--cloud, #F4F4FD);
font-family:'Roboto',sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02;
margin-left: 156px;
display: flex;
flex: auto;
gap: 156px;
max-width: 264px;
margin-top: 18px;
margin-bottom: 100px;
}
